.content{
  position: absolute;
}

.NavBar{
  position: fixed;
  margin: 0px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 1rem;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /*
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;


  background: #63d471;
  height: 85px;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem calc((100vw - 1000px) / 2);
  z-index: 12;
   /*Third Nav 
   justify-content: flex-start; */
}


.menu-button {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: calc(-250px - (1rem *2) - 10px);
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: left 0.3s;
  padding: 1rem;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  display: block;
  margin-left: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 1rem 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .nav-buttons {
    display: none;
  }
  .menu-button {
    display: block;
  }
}










/*#root {
  /*max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/






.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
